#============= init.te ==============
allow init self:capability sys_module;
allow init sysfs:dir w_dir_perms;
allow init tmpfs:lnk_file create;
allow init mtd_device:chr_file r_file_perms;

# ConfigFS support sepolicy permissions
allow init configfs:dir create_dir_perms;
allow init configfs:{ file lnk_file } create_file_perms;
