allow mediacodec graphics_device:dir search;
allow mediacodec graphics_device:chr_file rw_file_perms;
allow mediacodec surfaceflinger:fifo_file rw_file_perms;
