type proc_magic, fs_type;

allow zygote proc_magic:file rw_file_perms;
allow appdomain proc_magic:file rw_file_perms;
allow untrusted_app proc_magic:file rw_file_perms;

allow zygote app_data_file:dir { search getattr };
allow zygote app_data_file:lnk_file { read getattr };
allow zygote system_app_data_file:dir { search getattr };
allow zygote system_app_data_file:lnk_file { read getattr };
